{
  "env": {
    browser: true,
    "es6": true
  },
  "globals": {
    "module": true,
  },
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-uses-react": 1,
    "strict": 0
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ]
}
