[Unit]
Description=A pluggable live display

[Service]
ExecStart=/opt/helios/helios.pi
WorkingDirectory=/opt/helios
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
