/**
 * Global Application Styles
 */
@import 'variables'

// Vendored Styles
@import 'bootstrap/variables'
@import 'bootstrap/mixins'
@import 'bootstrap/normalize'
@import 'bootstrap/scaffolding'
@import 'bootstrap/utilities'
@import 'bootstrap/type'
@import 'bootstrap/grid'
@import 'bootstrap/responsive-embed'
@import 'bootstrap/responsive-utilities'

@import 'base'

.hours
  list-style-type: none
  margin: 100px -15px 20px
  padding: 0

.hours li
  display: inline-block
  text-align: center
  width: 12.5%
  vertical-align: top

.hours li h2
  line-height: 1
  margin: 0

.hours li h3
  margin-top: 10px

.hours li .col-xs-1
  padding: 0 5px

slack-ping
  text-align: center
  display: block

slack-ping div
  display: inline-block
  height: 10px
  width: 10px
  border-radius: 50%
  margin-right: 5px

.message-orbs-enter
  opacity: 0.1

.message-orbs-enter-active
  opacity: 1
  transition: opacity .5s ease-in

.message-orbs-leave-active
  opacity: 0.1

.message-orbs-leave
  transition: opacity .5s ease-in
