{
  "type": "github",
  "data": {
    "type": "PullRequestEvent",
    "public": true,
    "payload": {
      "action": "opened",
      "number": 66,
      "pull_request": {
        "url": "https://api.github.com/repos/mojotech/helios/pulls/66",
        "id": 43704394,
        "html_url": "https://github.com/mojotech/helios/pull/66",
        "diff_url": "https://github.com/mojotech/helios/pull/66.diff",
        "patch_url": "https://github.com/mojotech/helios/pull/66.patch",
        "issue_url": "https://api.github.com/repos/mojotech/helios/issues/66",
        "number": 66,
        "state": "open",
        "locked": false,
        "title": "Move socket handler to core helios package",
        "user": {
          "login": "begizi",
          "id": 3143166,
          "avatar_url": "https://avatars.githubusercontent.com/u/3143166?v=3",
          "gravatar_id": "",
          "url": "https://api.github.com/users/begizi",
          "html_url": "https://github.com/begizi",
          "followers_url": "https://api.github.com/users/begizi/followers",
          "following_url": "https://api.github.com/users/begizi/following{/other_user}",
          "gists_url": "https://api.github.com/users/begizi/gists{/gist_id}",
          "starred_url": "https://api.github.com/users/begizi/starred{/owner}{/repo}",
          "subscriptions_url": "https://api.github.com/users/begizi/subscriptions",
          "organizations_url": "https://api.github.com/users/begizi/orgs",
          "repos_url": "https://api.github.com/users/begizi/repos",
          "events_url": "https://api.github.com/users/begizi/events{/privacy}",
          "received_events_url": "https://api.github.com/users/begizi/received_events",
          "type": "User",
          "site_admin": false
        },
        "body": "[Closes #63]",
        "created_at": "2015-08-29T23:47:38Z",
        "updated_at": "2015-08-29T23:47:38Z",
        "closed_at": null,
        "merged_at": null,
        "merge_commit_sha": null,
        "assignee": null,
        "milestone": null,
        "commits_url": "https://api.github.com/repos/mojotech/helios/pulls/66/commits",
        "review_comments_url": "https://api.github.com/repos/mojotech/helios/pulls/66/comments",
        "review_comment_url": "https://api.github.com/repos/mojotech/helios/pulls/comments{/number}",
        "comments_url": "https://api.github.com/repos/mojotech/helios/issues/66/comments",
        "statuses_url": "https://api.github.com/repos/mojotech/helios/statuses/dee2b10c0c125e75bf5f66a0188fa8dd9fb41107",
        "head": {
          "label": "mojotech:bae/socket.io-handler",
          "ref": "bae/socket.io-handler",
          "sha": "dee2b10c0c125e75bf5f66a0188fa8dd9fb41107",
          "user": {
            "login": "mojotech",
            "id": 314035,
            "avatar_url": "https://avatars.githubusercontent.com/u/314035?v=3",
            "gravatar_id": "",
            "url": "https://api.github.com/users/mojotech",
            "html_url": "https://github.com/mojotech",
            "followers_url": "https://api.github.com/users/mojotech/followers",
            "following_url": "https://api.github.com/users/mojotech/following{/other_user}",
            "gists_url": "https://api.github.com/users/mojotech/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/mojotech/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/mojotech/subscriptions",
            "organizations_url": "https://api.github.com/users/mojotech/orgs",
            "repos_url": "https://api.github.com/users/mojotech/repos",
            "events_url": "https://api.github.com/users/mojotech/events{/privacy}",
            "received_events_url": "https://api.github.com/users/mojotech/received_events",
            "type": "Organization",
            "site_admin": false
          },
          "repo": {
            "id": 39654033,
            "name": "helios",
            "full_name": "mojotech/helios",
            "owner": {
              "login": "mojotech",
              "id": 314035,
              "avatar_url": "https://avatars.githubusercontent.com/u/314035?v=3",
              "gravatar_id": "",
              "url": "https://api.github.com/users/mojotech",
              "html_url": "https://github.com/mojotech",
              "followers_url": "https://api.github.com/users/mojotech/followers",
              "following_url": "https://api.github.com/users/mojotech/following{/other_user}",
              "gists_url": "https://api.github.com/users/mojotech/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/mojotech/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/mojotech/subscriptions",
              "organizations_url": "https://api.github.com/users/mojotech/orgs",
              "repos_url": "https://api.github.com/users/mojotech/repos",
              "events_url": "https://api.github.com/users/mojotech/events{/privacy}",
              "received_events_url": "https://api.github.com/users/mojotech/received_events",
              "type": "Organization",
              "site_admin": false
            },
            "private": false,
            "html_url": "https://github.com/mojotech/helios",
            "description": "A live display of weather data from Forecast.io",
            "fork": false,
            "url": "https://api.github.com/repos/mojotech/helios",
            "forks_url": "https://api.github.com/repos/mojotech/helios/forks",
            "keys_url": "https://api.github.com/repos/mojotech/helios/keys{/key_id}",
            "collaborators_url": "https://api.github.com/repos/mojotech/helios/collaborators{/collaborator}",
            "teams_url": "https://api.github.com/repos/mojotech/helios/teams",
            "hooks_url": "https://api.github.com/repos/mojotech/helios/hooks",
            "issue_events_url": "https://api.github.com/repos/mojotech/helios/issues/events{/number}",
            "events_url": "https://api.github.com/repos/mojotech/helios/events",
            "assignees_url": "https://api.github.com/repos/mojotech/helios/assignees{/user}",
            "branches_url": "https://api.github.com/repos/mojotech/helios/branches{/branch}",
            "tags_url": "https://api.github.com/repos/mojotech/helios/tags",
            "blobs_url": "https://api.github.com/repos/mojotech/helios/git/blobs{/sha}",
            "git_tags_url": "https://api.github.com/repos/mojotech/helios/git/tags{/sha}",
            "git_refs_url": "https://api.github.com/repos/mojotech/helios/git/refs{/sha}",
            "trees_url": "https://api.github.com/repos/mojotech/helios/git/trees{/sha}",
            "statuses_url": "https://api.github.com/repos/mojotech/helios/statuses/{sha}",
            "languages_url": "https://api.github.com/repos/mojotech/helios/languages",
            "stargazers_url": "https://api.github.com/repos/mojotech/helios/stargazers",
            "contributors_url": "https://api.github.com/repos/mojotech/helios/contributors",
            "subscribers_url": "https://api.github.com/repos/mojotech/helios/subscribers",
            "subscription_url": "https://api.github.com/repos/mojotech/helios/subscription",
            "commits_url": "https://api.github.com/repos/mojotech/helios/commits{/sha}",
            "git_commits_url": "https://api.github.com/repos/mojotech/helios/git/commits{/sha}",
            "comments_url": "https://api.github.com/repos/mojotech/helios/comments{/number}",
            "issue_comment_url": "https://api.github.com/repos/mojotech/helios/issues/comments{/number}",
            "contents_url": "https://api.github.com/repos/mojotech/helios/contents/{+path}",
            "compare_url": "https://api.github.com/repos/mojotech/helios/compare/{base}...{head}",
            "merges_url": "https://api.github.com/repos/mojotech/helios/merges",
            "archive_url": "https://api.github.com/repos/mojotech/helios/{archive_format}{/ref}",
            "downloads_url": "https://api.github.com/repos/mojotech/helios/downloads",
            "issues_url": "https://api.github.com/repos/mojotech/helios/issues{/number}",
            "pulls_url": "https://api.github.com/repos/mojotech/helios/pulls{/number}",
            "milestones_url": "https://api.github.com/repos/mojotech/helios/milestones{/number}",
            "notifications_url": "https://api.github.com/repos/mojotech/helios/notifications{?since,all,participating}",
            "labels_url": "https://api.github.com/repos/mojotech/helios/labels{/name}",
            "releases_url": "https://api.github.com/repos/mojotech/helios/releases{/id}",
            "created_at": "2015-07-24T19:50:46Z",
            "updated_at": "2015-08-06T16:05:34Z",
            "pushed_at": "2015-08-29T23:47:38Z",
            "git_url": "git://github.com/mojotech/helios.git",
            "ssh_url": "git@github.com:mojotech/helios.git",
            "clone_url": "https://github.com/mojotech/helios.git",
            "svn_url": "https://github.com/mojotech/helios",
            "homepage": "",
            "size": 7381,
            "stargazers_count": 1,
            "watchers_count": 1,
            "language": "JavaScript",
            "has_issues": true,
            "has_downloads": true,
            "has_wiki": false,
            "has_pages": false,
            "forks_count": 1,
            "mirror_url": null,
            "open_issues_count": 15,
            "forks": 1,
            "open_issues": 15,
            "watchers": 1,
            "default_branch": "master"
          }
        },
        "base": {
          "label": "mojotech:master",
          "ref": "master",
          "sha": "01b79a43911e23c59eb815aae44e4c06907cb211",
          "user": {
            "login": "mojotech",
            "id": 314035,
            "avatar_url": "https://avatars.githubusercontent.com/u/314035?v=3",
            "gravatar_id": "",
            "url": "https://api.github.com/users/mojotech",
            "html_url": "https://github.com/mojotech",
            "followers_url": "https://api.github.com/users/mojotech/followers",
            "following_url": "https://api.github.com/users/mojotech/following{/other_user}",
            "gists_url": "https://api.github.com/users/mojotech/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/mojotech/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/mojotech/subscriptions",
            "organizations_url": "https://api.github.com/users/mojotech/orgs",
            "repos_url": "https://api.github.com/users/mojotech/repos",
            "events_url": "https://api.github.com/users/mojotech/events{/privacy}",
            "received_events_url": "https://api.github.com/users/mojotech/received_events",
            "type": "Organization",
            "site_admin": false
          },
          "repo": {
            "id": 39654033,
            "name": "helios",
            "full_name": "mojotech/helios",
            "owner": {
              "login": "mojotech",
              "id": 314035,
              "avatar_url": "https://avatars.githubusercontent.com/u/314035?v=3",
              "gravatar_id": "",
              "url": "https://api.github.com/users/mojotech",
              "html_url": "https://github.com/mojotech",
              "followers_url": "https://api.github.com/users/mojotech/followers",
              "following_url": "https://api.github.com/users/mojotech/following{/other_user}",
              "gists_url": "https://api.github.com/users/mojotech/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/mojotech/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/mojotech/subscriptions",
              "organizations_url": "https://api.github.com/users/mojotech/orgs",
              "repos_url": "https://api.github.com/users/mojotech/repos",
              "events_url": "https://api.github.com/users/mojotech/events{/privacy}",
              "received_events_url": "https://api.github.com/users/mojotech/received_events",
              "type": "Organization",
              "site_admin": false
            },
            "private": false,
            "html_url": "https://github.com/mojotech/helios",
            "description": "A live display of weather data from Forecast.io",
            "fork": false,
            "url": "https://api.github.com/repos/mojotech/helios",
            "forks_url": "https://api.github.com/repos/mojotech/helios/forks",
            "keys_url": "https://api.github.com/repos/mojotech/helios/keys{/key_id}",
            "collaborators_url": "https://api.github.com/repos/mojotech/helios/collaborators{/collaborator}",
            "teams_url": "https://api.github.com/repos/mojotech/helios/teams",
            "hooks_url": "https://api.github.com/repos/mojotech/helios/hooks",
            "issue_events_url": "https://api.github.com/repos/mojotech/helios/issues/events{/number}",
            "events_url": "https://api.github.com/repos/mojotech/helios/events",
            "assignees_url": "https://api.github.com/repos/mojotech/helios/assignees{/user}",
            "branches_url": "https://api.github.com/repos/mojotech/helios/branches{/branch}",
            "tags_url": "https://api.github.com/repos/mojotech/helios/tags",
            "blobs_url": "https://api.github.com/repos/mojotech/helios/git/blobs{/sha}",
            "git_tags_url": "https://api.github.com/repos/mojotech/helios/git/tags{/sha}",
            "git_refs_url": "https://api.github.com/repos/mojotech/helios/git/refs{/sha}",
            "trees_url": "https://api.github.com/repos/mojotech/helios/git/trees{/sha}",
            "statuses_url": "https://api.github.com/repos/mojotech/helios/statuses/{sha}",
            "languages_url": "https://api.github.com/repos/mojotech/helios/languages",
            "stargazers_url": "https://api.github.com/repos/mojotech/helios/stargazers",
            "contributors_url": "https://api.github.com/repos/mojotech/helios/contributors",
            "subscribers_url": "https://api.github.com/repos/mojotech/helios/subscribers",
            "subscription_url": "https://api.github.com/repos/mojotech/helios/subscription",
            "commits_url": "https://api.github.com/repos/mojotech/helios/commits{/sha}",
            "git_commits_url": "https://api.github.com/repos/mojotech/helios/git/commits{/sha}",
            "comments_url": "https://api.github.com/repos/mojotech/helios/comments{/number}",
            "issue_comment_url": "https://api.github.com/repos/mojotech/helios/issues/comments{/number}",
            "contents_url": "https://api.github.com/repos/mojotech/helios/contents/{+path}",
            "compare_url": "https://api.github.com/repos/mojotech/helios/compare/{base}...{head}",
            "merges_url": "https://api.github.com/repos/mojotech/helios/merges",
            "archive_url": "https://api.github.com/repos/mojotech/helios/{archive_format}{/ref}",
            "downloads_url": "https://api.github.com/repos/mojotech/helios/downloads",
            "issues_url": "https://api.github.com/repos/mojotech/helios/issues{/number}",
            "pulls_url": "https://api.github.com/repos/mojotech/helios/pulls{/number}",
            "milestones_url": "https://api.github.com/repos/mojotech/helios/milestones{/number}",
            "notifications_url": "https://api.github.com/repos/mojotech/helios/notifications{?since,all,participating}",
            "labels_url": "https://api.github.com/repos/mojotech/helios/labels{/name}",
            "releases_url": "https://api.github.com/repos/mojotech/helios/releases{/id}",
            "created_at": "2015-07-24T19:50:46Z",
            "updated_at": "2015-08-06T16:05:34Z",
            "pushed_at": "2015-08-29T23:47:38Z",
            "git_url": "git://github.com/mojotech/helios.git",
            "ssh_url": "git@github.com:mojotech/helios.git",
            "clone_url": "https://github.com/mojotech/helios.git",
            "svn_url": "https://github.com/mojotech/helios",
            "homepage": "",
            "size": 7381,
            "stargazers_count": 1,
            "watchers_count": 1,
            "language": "JavaScript",
            "has_issues": true,
            "has_downloads": true,
            "has_wiki": false,
            "has_pages": false,
            "forks_count": 1,
            "mirror_url": null,
            "open_issues_count": 15,
            "forks": 1,
            "open_issues": 15,
            "watchers": 1,
            "default_branch": "master"
          }
        },
        "_links": {
          "self": {
            "href": "https://api.github.com/repos/mojotech/helios/pulls/66"
          },
          "html": {
            "href": "https://github.com/mojotech/helios/pull/66"
          },
          "issue": {
            "href": "https://api.github.com/repos/mojotech/helios/issues/66"
          },
          "comments": {
            "href": "https://api.github.com/repos/mojotech/helios/issues/66/comments"
          },
          "review_comments": {
            "href": "https://api.github.com/repos/mojotech/helios/pulls/66/comments"
          },
          "review_comment": {
            "href": "https://api.github.com/repos/mojotech/helios/pulls/comments{/number}"
          },
          "commits": {
            "href": "https://api.github.com/repos/mojotech/helios/pulls/66/commits"
          },
          "statuses": {
            "href": "https://api.github.com/repos/mojotech/helios/statuses/dee2b10c0c125e75bf5f66a0188fa8dd9fb41107"
          }
        },
        "merged": false,
        "mergeable": null,
        "mergeable_state": "unknown",
        "merged_by": null,
        "comments": 0,
        "review_comments": 0,
        "commits": 1,
        "additions": 5,
        "deletions": 6,
        "changed_files": 2
      }
    },
    "repo": {
      "id": 39654033,
      "name": "mojotech/helios",
      "fork": null,
      "private": null,
      "has_issues": null,
      "has_wiki": null,
      "has_downloads": null,
      "team_id": null,
      "url": "https://api.github.com/repos/mojotech/helios"
    },
    "actor": {
      "login": "begizi",
      "id": 3143166,
      "avatar_url": "https://avatars.githubusercontent.com/u/3143166?",
      "gravatar_id": "",
      "url": "https://api.github.com/users/begizi"
    },
    "org": {
      "login": "mojotech",
      "id": 314035,
      "avatar_url": "https://avatars.githubusercontent.com/u/314035?",
      "url": "https://api.github.com/orgs/mojotech"
    },
    "created_at": "2015-08-29T23:47:38Z",
    "id": "3101563180"
  }
}
