.hours
  list-style-type: none
  margin: 100px -15px 20px
  padding: 0

.hours li
  display: inline-block
  text-align: center
  width: 12.5%
  vertical-align: top

.hours li h2
  line-height: 1
  margin: 0

.hours li h3
  margin-top: 10px

.hours li .col-xs-1
  padding: 0 5px

.label-primary
  font-size: 32px
  font-weight: bold
  margin-bottom: 10px

.label-secondary
  font-weight: bold
  color: #999
  margin-bottom: 15px

.hourly-forecast
  .hour
    font-size: 16px
    width: 12.5%
    display: inline-block
    padding-right: 25px
    vertical-align: top
    text-align: center

    .forecast-skycon
      height: 40px
      width: 80px
      margin-bottom: 10px
      margin-left: auto;
      margin-right: auto;