@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

*
  box-sizing: border-box

body
  background-color: black
  color: white
  font-family: "Arimo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
  font-size: 20px
  margin: 0
  line-height 1;

h1,
h2,
h3,
h4
  margin: 0
  padding: 0
  line-height: 1
  font-weight: normal
  font-size: 20px

.hours canvas
  margin-bottom: 10px
  width: 100%

body table.weather-graph td
  border-top: none

.date-stamp
  position: fixed
  top: 0
  left: 0

.activity
  position: fixed
  top: 0
  right: 0

.wrapper
  overflow: hidden
  position: relative
  margin-top: 200px

.date-details
  color: rgba(white, .6)

.label-primary
  font-size: 32px
  font-weight: bold
  margin-bottom: 10px

.label-secondary
  font-weight: bold
  color: rgba(#fff, .6)
  margin-bottom: 25px

.weather-overview .label-secondary
  margin-bottom: 0

.time
  width: 20%
  float: left

.time-secondary
  margin: 50px 10px 0 10px
  width: 30%
  padding-bottom: 30%
  display: inline-block

.weather
  width: 80%
  float: left
  padding-left: 100px

.weather-overview
  overflow: hidden
  margin-bottom: 50px

  .current
    width: 33.333333%
    float: left

  .current-temp
    font-size: 200px
    font-weight: bold
    line-height: .75

  .hourly-breakdown
    font-size: 0
    width: 66.666666%
    float: left

  .hour
    font-size: 16px
    width: 12.5%
    display: inline-block
    padding-right: 25px
    vertical-align: top

    canvas
      margin-left: -1.4vw
      margin-bottom: 10px
      width: 100%

.forecast
  width: 33.333333%
  float: left
  padding-right: 25px
  font-size: 20px
  line-height: 30px
  font-weight: bold

.today
  .forecast-details
    font-size: 40px
    line-height: 50px

