@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

*
  box-sizing: border-box

body
  background-color: black
  color: white
  font-family: "Arimo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
  font-size: 20px
  margin: 0
  line-height 1;

h1,
h2,
h3,
h4
  margin: 0
  padding: 0
  line-height: 1
  font-weight: normal
  font-size: 20px

.hours canvas
  margin-bottom: 10px
  width: 100%

body table.weather-graph td
  border-top: none

.date-stamp
  position: fixed
  top: 0
  left: 0

.activity
  position: fixed
  top: 0
  right: 0

.wrapper
  overflow: hidden
  position: relative
  margin-top: 200px

.date-details
  color: #999

.label-primary
  font-size: 32px
  font-weight: bold
  margin-bottom: 10px

.label-secondary
  font-weight: bold
  color: #999
  margin-bottom: 15px

.weather-overview .label-primary
  margin-bottom: 0

.time
  width: 300px
  position: absolute

.primary-clock
  margin-bottom: 20px
  text-align: center

.secondary-clocks
  padding: 50px 65px;

  div
    display: inline-block
    text-align: center
    width: 50%

    span
      font-size: .9em

    &:first-child
      padding-right: 20px

    &:last-child
      padding-left: 20px

    svg
      height: auto
      margin-bottom: 20px
      max-height: 100%
      width: 100%

.weather
  margin-left 300px
  padding-left: 100px

.weather-overview
  overflow: hidden
  margin-bottom: 50px

  .current
    width: 33.333333%
    float: left

  .current-temp
    font-size: 200px
    font-weight: bold
    line-height: 1em

  .hourly-breakdown
    font-size: 0
    width: 66.666666%
    float: left

  .hour
    font-size: 16px
    width: 12.5%
    display: inline-block
    padding-right: 25px
    vertical-align: top

    canvas
      margin-left: -1.4vw
      margin-bottom: 10px
      width: 100%

.forecast
  width: 33.333333%
  float: left
  padding-right: 25px
  font-size: 20px
  line-height: 30px
  font-weight: bold
  
.alert
  color: #EF4136
  
.alert-expires
  font-size: 15px

.location-watermark
  font-size: 500px
  position: fixed
  z-index: -1
  top: 62px
  margin-left: 80px
  letter-spacing: -.0625em
  font-weight: bold
  color: rgba(255,255,255,.25)

.credit
  color: #999
  font-size .5em
  position absolute
  bottom 0
