/**
 * Global Application Styles
 */
@import 'variables'

// Vendored Styles
@import 'bootstrap/variables'
@import 'bootstrap/mixins'
@import 'bootstrap/normalize'
@import 'bootstrap/scaffolding'
@import 'bootstrap/utilities'
@import 'bootstrap/type'
@import 'bootstrap/grid'
@import 'bootstrap/responsive-embed'
@import 'bootstrap/responsive-utilities'

@import 'base'
